/* reset values */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #9FC1DB;
	font-family: Tahoma, Verdana, sans-serif;
}

body {
	background-color: #C8BCB1;
	width: 80%;
	height: 100vh;
	margin: auto;
	text-align: center;
}

/* layout */

nav {
	background-color: #FFFFFF;
	overflow: hidden;
}

article {
	height: 70vh;
}

footer {
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0;
	width: 80%;
}

/* elements */

ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	user-select: none;
}

ul li {
	display: list-item;
	padding: 5px 5px;
	width: 90px;
}

ul li:hover {
	background-color: #000000;
	color: #FFFFFF;
}

.showcase {
	display: none;
}

.design {
	display: none;
}